{% extends "base.html.twig" %}

{% block container %}
    <div class="panel panel-default">
        <table class="table">
            {% for book in books %}
                <tr>
                    <td>
                        {{ book.title }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}