{% block _quiz_questions_entry_widget %}
    {{ form_row(form.title) }}
    <ul class="form-inline">
        {% for answer in form.answers %}
            <li>{{ form_row(answer) }}</li>
        {% endfor %}
    </ul>
{% endblock %}

